* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
body{
        background-image: url("../earth.JPG");
        background-size: auto;
        background-repeat: no-repeat;
        
       
}

.container{
        position: absolute;
        width: 90vmin;
        padding: 80px 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba( 255, 255, 255, 0.55 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );  
}

.container h3 {
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        color: #ff465a;
        margin-top: 20px;
}

.search-box{
        width: 100%;
        display: flex;
        justify-content: space-between;
}

#search-input{
        width: 70%;
        padding: 6px 12px;
        background: rgba( 255, 255, 255, 0.35 );
        border: none;
        outline: none;
        border-bottom: 3px solid #fff;
        font-size: 18px;
        border-radius: 25px;
}
#search-btn:hover {
        cursor: pointer;
}

#search-btn{
        width: 25%;
        color: gray;
        background-color: rgba( 255, 255, 255, 0.35 );
        padding: 6px 12px;
        border: none;
        outline: none;
        border-radius: 25px;
        font-size: 18px;
}

#flag{
display: flex;
        margin: 15px auto;
        justify-self: center;
        width: 200px;
        border: 5px solid #fff;
        border-radius: 10px
}

#country-name{
        text-align: center;
        margin: 20px auto;
}

.country-detail{
        margin-top: 10px;
        display: flex;
        color: black;
}